

#fullhand {
     /* position: relative;
     animation: hand 1s infinite;
     transform-origin: center;
     transform-box: fill-box;
     transition: transform 1s ease-in; */
}



@keyframes hand  {
     /* from {
          transform: translateY(20px)
     }

     to{
          transform: translateX(-5px)
          
     } */
}